* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
