* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

snack-attack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0.8;
    border-radius: 2%;
    overflow: hidden;
}

snack-attack > board-cell {
    width: calc(100% / var(--board-size));
    height: calc(100% / var(--board-size));

    background-color: #e0f0e3;
}

snack-attack > board-cell:nth-child(odd) {
    background-color: #c8e1cc;
}

snack-attack > board-cell[content='snake'] {
    background-color: #3386FF;
}

snack-attack > board-cell[content='wall'] {
    background-color: #855e42;
}

snack-attack > board-cell[content='apple'] {
    background-image: url(./assets/pills/fruits/apple.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
